pkgbase = git-htmldocs
	pkgdesc = HTML documentation files for Git
	pkgver = 2.45.1
	pkgrel = 1
	url = https://git-scm.com/
	arch = any
	license = GPL2
	depends = git
	source = https://www.kernel.org/pub/software/scm/git/git-htmldocs-2.45.1.tar.xz
	source = https://www.kernel.org/pub/software/scm/git/git-htmldocs-2.45.1.tar.sign
	validpgpkeys = 96E07AF25771955980DAD10020D04E5A713660A7
	sha256sums = f7095c4478028bc04afd63cd217ea5d4fa08ab819cbb66df40a1a12648edbf40
	sha256sums = SKIP

pkgname = git-htmldocs
